{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<div class="contact-form-main">
  <div class="contact-bg-banner" style="background-image: url({{ section.settings.contact_bg_banner | image_url : 'master' }})">
    <div class="main-heading">
      <h2 class="heading">{{ section.settings.main_heading_title }}</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="contact-form-sub">
        <div class="contact-form-left">
          <div class="main-heading">
            <h2 class="heading">{{ section.settings.main_heading }}</h2>
            <p>{{ section.settings.main_desc }}</p>
          </div>
          <div class="contact-mail-phone">
            <ul>
              <li class="email-icon-txt">
                {% if section.settings.mail_img != blank %}
                <span>
                  <img width="" height="" loading="lazy" src="{{ section.settings.mail_img | image_url : 'master' }}" alt />
                </span>
                {% endif %}
                <a href="{{ section.settings.mail_url }}" target="_blank">{{ section.settings.mail_txt }}</a>
              </li>
              <li class="phone-icon-txt">
                {% if section.settings.phone_img != blank %}
                <span>
                  <img width="" height="" loading="lazy" src="{{ section.settings.phone_img | image_url : 'master' }}" alt />
                </span>
                {% endif %}
                <a href="{{ section.settings.phone_url }}" target="_blank">{{ section.settings.phone_txt }}</a>
              </li>
              <li class="map-icon-txt">
                {% if section.settings.map_img != blank %}
                <span>
                  <img width="" height="" loading="lazy" src="{{ section.settings.map_img | image_url : 'master' }}" alt />
                </span>
                {% endif %}
                <a href="{{ section.settings.map_url }}" target="_blank">{{ section.settings.map_txt }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="contact-form-right">
          <div class="contact-form-subm">
            <div class="main-heading">
              <h2 class="heading">{{ section.settings.heading | escape }}</h2>
            </div>
            <div class="contact-form-mainform">
              {%- form 'contact', id: 'ContactForm' -%}
              {%- if form.posted_successfully? -%}
              <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
              {%- elsif form.errors -%}
              <div class="form__message">
                <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
              </div>
              <ul class="form-status-list caption-large" role="list">
                <li>
                  <a href="#ContactForm-email" class="link">
                    {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                  </a>
                </li>
              </ul>
              {%- endif -%}
              <div class="field">
                <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
                <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
              </div>
              <div class="field field--with-error">
                <input
                       autocomplete="email"
                       type="email"
                       id="ContactForm-email"
                       class="field__input"
                       name="contact[email]"
                       spellcheck="false"
                       autocapitalize="off"
                       value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                       aria-required="true"
                       {% if form.errors contains 'email' %}
                       aria-invalid="true"
                       aria-describedby="ContactForm-email-error"
                       {% endif %}
                       placeholder="{{ 'templates.contact.form.email' | t }}"
                       >
                <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }}<span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'email' -%}
                <small class="contact__field-error" id="ContactForm-email-error">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                </small>
                {%- endif -%}
              </div>
              <div class="field">
                <textarea
                          rows="10"
                          id="ContactForm-body"
                          class="text-area field__input"
                          name="contact[{{ 'templates.contact.form.comment' | t }}]"
                          placeholder="{{ 'templates.contact.form.comment' | t }}"
                          >
                  {{- form.body -}}
                </textarea>
                <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
              </div>
              <div class="contact__button">
                <button type="submit" class="def-btn">
                  {{ 'templates.contact.form.send' | t }}
                </button>
              </div>
              {%- endform -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "contact_bg_banner",
      "label": "Contact Banner"
    },
    {
      "type": "text",
      "id": "main_heading_title",
      "label": "Main Heading",
      "default": "Contact"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "Get In Touch"
    },
    {
      "type": "textarea",
      "id": "main_desc",
      "label": "Main Description"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "mail_img",
      "label": "Mail Image"
    },
    {
      "type": "text",
      "id": "mail_txt",
      "label": "Mail"
    },
    {
      "type": "url",
      "id": "mail_url",
      "label": "Mail URL"
    },
    {
      "type": "image_picker",
      "id": "phone_img",
      "label": "Phone Image"
    },
    {
      "type": "text",
      "id": "phone_txt",
      "label": "Phone"
    },
    {
      "type": "url",
      "id": "phone_url",
      "label": "Phone URL"
    },
    {
      "type": "image_picker",
      "id": "map_img",
      "label": "Map Image"
    },
    {
      "type": "html",
      "id": "map_txt",
      "label": "Map"
    },
    {
      "type": "url",
      "id": "map_url",
      "label": "Map URL"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
