<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer id="footer" class="dark mt-5">
  <div class="container-fluid p-0">
    <!-- Footer Widgets
        ============================================= -->
    <div class="footer-widgets-wrap container">
      <div class="row col-mb-50">
        <div class="col-lg-8">
          <div class="row col-mb-50">
            <div class="col-md-4">
              <div class="widget clearfix footer_about">
                <img width="" height="" loading="lazy"
                  src="{{ section.settings.footer_logo | img_url: 'master' }}"
                  alt="Image"
                  class="footer-logo"
                />
                <p>{{ section.settings.footer_heading }}</p>
                {{ section.settings.subtext | class: 'font_15'}}
                <div style="background: url({{ section.settings.footer_map_image | img_url: 'master' }}) no-repeat center center; background-size: 100%;">
                  <address style="font-size: 14px;">
                    <strong>Headquarters:</strong><br />
                    {{ section.settings.footer_address }}
                    <br />
                  </address>
                  <abbr style="font-size: 14px;" title="Phone Number"><strong>Phone:</strong></abbr>
                   <span style="font-size: 14px;">(+1){{ section.settings.footer_number }}</span>
                   <br />
                  <abbr style="font-size: 14px;" title="Email Address"><strong>Email:</strong></abbr>
                   <span style="font-size: 14px;">{{ section.settings.footer_email_address }}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="widget widget_links clearfix">
                <h4>{{ section.settings.heading_links }}</h4>
                <ul>
                    {%- for link in section.settings.menu.links -%}
                        <li>
                        <a href="{{ link.url }}" class="font_15 {% if link.active %}{% endif %}">
                        {{ link.title }}
                        </a>
                        </li>
                    {%- endfor -%}
                </ul>
              </div>
            </div>

            <div class="col-md-4">
              <div class="widget clearfix">
                <h4>{{ section.settings.heading_links_two }}</h4>
                <ul>
                    {%- for link in section.settings.menu2.links -%}
                        <li>
                        <a href="{{ link.url }}" class="font_15 {% if link.active %}{% endif %}">
                        {{ link.title }}
                        </a>
                        </li>
                    {%- endfor -%}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row col-mb-50">
            {%- if section.settings.project_number_enable or section.settings.client_number_enable -%}
                <div class="col-md-4 col-lg-12">
                <div class="widget clearfix" style="margin-bottom: -20px">
                    <div class="row">
                        {%- if section.settings.project_number_enable -%}
                    <div class="col-lg-6 bottommargin-sm">
                        <div class="counter counter-small">
                        <span>{{ section.settings.project_number }}</span>
                        </div>
                        <h5 class="mb-0">{{ section.settings.project_number_heading }}</h5>
                    </div>
                    {%- endif -%}
                    {%- if section.settings.client_number_enable -%}
                    <div class="col-lg-6 bottommargin-sm">
                        <div class="counter counter-small">
                        <span>{{ section.settings.client_number }}</span>
                        </div>
                        <h5 class="mb-0">{{ section.settings.client_number_heading }}</h5>
                    </div>
                    {%- endif -%}
                    </div>
                </div>
                </div>
            {%- endif -%}

            <div class="col-md-5 col-lg-12">
              <div class="widget subscribe-widget clearfix">
                <h5>
                  <strong>Subscribe</strong> to Our Newsletter to get Important
                  News, Amazing Offers &amp; Inside Scoops:
                </h5>
                <div class="widget-subscribe-form-result"></div>
                {%- comment -%}
                <form
                  id="widget-subscribe-form"
                  action="include/subscribe.php"
                  method="post"
                  class="mb-0"
                >
                  <div class="input-group mx-auto">
                    <div class="input-group-text">
                      <i class="icon-email2"></i>
                    </div>
                    <input
                      type="email"
                      id="widget-subscribe-form-email"
                      name="widget-subscribe-form-email"
                      class="form-control required email"
                      placeholder="Enter your Email"
                    />
                    <button class="btn btn-success" type="submit">
                      Subscribe
                    </button>
                  </div>
                </form>
                {%- endcomment -%} {%- form 'customer', id: 'ContactFooter',
                class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter" />
                <div class="input-group mx-auto">
                  <div class="input-group-text">
                    <i class="icon-email2"></i>
                  </div>
                  <input
                    id="newsletter"
                    type="email"
                    name="contact[email]"
                    class="form-control required email"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {%
                    if
                    form.errors
                    %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="ContactFooter-error"
                    {%
                    elsif
                    form.posted_successfully?
                    %}
                    aria-describedby="ContactFooter-success"
                    {%
                    endif
                    %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  />
                  <button
                    type="submit"
                    class="btn btn-success"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}"
                  >
                    {% render 'icon-arrow' %}
                  </button>
                  {%- if form.errors -%}
                  <small
                    class="newsletter-form__message form__message"
                    id="ContactFooter-error"
                    >{% render 'icon-error' %}{{
                      form.errors.translated_fields["email"] | capitalize
                    }}
                    {{ form.errors.messages["email"] }}</small
                  >
                  {%- endif -%} {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' %}{{ "newsletter.success" | t }}
                  </h3>
                  {%- endif -%} {%- endform -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="copyrights">
      <div class="container">
        <div class="row col-mb-30">
          <div class="col-md-6 text-center text-md-start font_15">
            Copyrights &copy; {{ 'now' | date: "%Y" }} All Rights Reserved by {{ shop.name | link_to: routes.root_url }}.<br />
            <div class="copyright-links">
              <a href="{{ section.settings.term_page }}">Terms of Use</a> / <a href="{{ section.settings.privacy_page }}">Privacy Policy</a>
            </div>
          </div>

          <div class="col-md-6 text-center text-md-end">
            <div class="d-flex justify-content-center justify-content-md-end">
              <a
                href="#"
                class="social-icon si-small si-borderless si-facebook"
              >
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>

              <a
                href="#"
                class="social-icon si-small si-borderless si-pinterest"
              >
                <i class="icon-pinterest"></i>
                <i class="icon-pinterest"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-vimeo">
                <i class="icon-vimeo"></i>
                <i class="icon-vimeo"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-github">
                <i class="icon-github"></i>
                <i class="icon-github"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-yahoo">
                <i class="icon-yahoo"></i>
                <i class="icon-yahoo"></i>
              </a>

              <a
                href="#"
                class="social-icon si-small si-borderless si-linkedin"
              >
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "header",
      "content": "Colmun One",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "text",
      "id": "heading_footer",
      "default": "Heading",
      "label": "t:sections.footer.blocks.text.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "subtext",
      "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
      "label": "About Compnay"
    },
    {
      "type": "image_picker",
      "id": "footer_map_image",
      "label": "Footer Background Image"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Looter Logo"
    },
    {
      "type": "header",
      "content": "Colmun Two",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "text",
      "id": "heading_links",
      "default": "Quick links",
      "label": "t:sections.footer.blocks.link_list.settings.heading.label",
      "info": "t:sections.footer.blocks.link_list.settings.heading.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "t:sections.footer.blocks.link_list.settings.menu.label",
      "info": "t:sections.footer.blocks.link_list.settings.menu.info"
    },
    {
      "type": "header",
      "content": "Colmun Three",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "text",
      "id": "heading_links_two",
      "default": "Quick links",
      "label": "t:sections.footer.blocks.link_list.settings.heading.label",
      "info": "t:sections.footer.blocks.link_list.settings.heading.info"
    },
    {
      "type": "link_list",
      "id": "menu2",
      "default": "footer",
      "label": "t:sections.footer.blocks.link_list.settings.menu.label",
      "info": "t:sections.footer.blocks.link_list.settings.menu.info"
    },
    {
      "type": "header",
      "content": "Other Setting",
      "info": "Conatct settings"
    },
    {
      "type": "text",
      "id": "footer_email_address",
      "default": "support@danosapr.com",
      "label": "Contact Email"
    },
    {
      "type": "text",
      "id": "footer_number",
      "default": "+1000000000",
      "label": "Contact Number"
    },
    {
      "type": "richtext",
      "id": "footer_address",
      "default": "<p>House #, Street #, City , State, Country.</p>",
      "label": "Contact Address"
    },
    {
      "type": "checkbox",
      "id": "client_number_enable",
      "default": true,
      "label": "Do you want to show Clients?"
    },
    {
      "type": "text",
      "id": "client_number_heading",
      "default": "Clients",
      "label": "Heading of Clients"
    },
    {
      "type": "number",
      "id": "client_number",
      "default": 300,
      "label": "Number of Clients"
    },
    {
      "type": "checkbox",
      "id": "project_number_enable",
      "default": true,
      "label": "Do you want to show Projects?"
    },
    {
      "type": "text",
      "id": "project_number_heading",
      "default": "Projects",
      "label": "Heading of Projects"
    },
    {
      "type": "number",
      "id": "project_number",
      "default": 300,
      "label": "Number of Clients"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "page",
      "id": "privacy_page",
      "label": "Select Privacy Page"
    },
    {
      "type": "page",
      "id": "term_page",
      "label": "Select Terms & Conditions Page"
    }
  ]
}
{% endschema %}