<div class="container" style="margin: {{section.settings.margin}}px auto !important;">
  {% if section.settings.heading_enable %}
    <div class="heading-block topmargin-lg center animate__animated animate__bounce animate__delay-3s">
      <h4>{{section.settings.main_heading}}</h4>
      <span class="mx-auto font_15">{{section.settings.main_des}}</span>
    </div>
  {% endif %} 
  <div class="row">
    {% for block in section.blocks %}
      <div class="col-md-6 col-lg-4 center animate__animated animate__zoomInDown animate__delay-3s ">
        <i style="margin-bottom: 15px; float: unset !important; font-size: 40px;" 
        class="i-plain color i-large inline-block {% if block.settings.shipp_icon_svg != blank %}{{ block.settings.shipp_icon_svg }}{% else %}icon-line2-screen-desktop{% endif %}"></i>
        <div class="heading-block border-bottom-0" style="margin-bottom: 15px;">
          <h3>{{ block.settings.shipp_title }}</h3>
        </div>
        <p class="font_15">{{ block.settings.shipp_icon_txt }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Services Blocks",
  "settings": [
    {
      "type": "image_picker",
      "id": "shipping_with_img",
      "label": "Shipp Banner Image"
    },
    {
      "type": "checkbox",
      "id": "heading_enable",
      "default": true,
      "label": "Want to show Heading?"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading"
    },
    {
      "type": "textarea",
      "id": "main_des",
      "label": "Main Description"
    },
    {
      "type": "range",
      "id": "margin",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margins",
      "default": 0
      }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Service Block",
      "settings": [
        {
          "type": "text",
          "id": "shipp_icon_svg",
          "label": "Icon",
          "default": "icon-line2-screen-desktop"
        },
        {
          "type": "text",
          "id": "shipp_title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "shipp_icon_txt",
          "label": "Description",
          "default": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Services Blocks"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
